div.tag-1 {
  display: none;
}

#tag-2 {
  display: none;
}

div#tag-3 {
  display: none;
}

div#tag-4 {
  display: none;
}

div#tag-5 {
  display: none;
}


div#tag-6 {
  display: none;
}


div#tag-7 {
  display: none;
}
