div.tag-1 {
  display: none;
}

div#tag-2 {
  display: none;
}
/*
#tag-3 {
  display: none;
}

#tag-4 {
  display: none;
}

#tag-5 {
  display: none;
}


#tag-6 {
  display: none;
}


#tag-7 {
  display: none;
}
*/
